# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/
Planning report/
Lit review presentation/
Research Papers/
Research Questions/
Synthetic Benchmarks/ 
Year/ 
Icon
# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Python-specific
*.pyc
*.pyo
*.pyd
