# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/
Planning report/
Research Papers/
Synthetic Benchmarks/ 
Year/ 

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Python-specific
*.pyc
*.pyo
*.pyd
